{% extends "base.html" %}
{% block content %}
<!-- china town desserts, displays website information and links to other pages -->
<div class="container">
<div class="heading">
	<p>
		Desserts
	</p>
</div>
<div class="row">
		<div class="col-md-12">
			<div class="column-1 col-md-2">
			<form action="/desserts" method="POST">
	<h2 style="text-align:center">Choose Dessert Type</h2>
		<input type="checkbox" name="Fruit" value="1">Fruit<br>
		<input type="checkbox" name="Cake" value="1"> Cake<br>
		<input type="checkbox" name="Ice" value="1">IceCream<br>
		<center><button type="submit">Submit</button></center>
</form>
			</div>
			<div class="column-2 col-md-8">
				<div style="overflow-x:auto;">
				<div id="table-wrapper">
				<div id="table-scroll">
				<table border="0" cellspacing="0" cellpadding="0" align="center">
					<thead>
					<th><span class="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food Item</span></th>
					<th><span class="text"> Dessert Type</span></th>
					</thead>
					{% for row in dessertTable %}
					<tr>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
					</tr>
					{% endfor %}
				</table>
				</div>
				</div>
				</div>
				</div>
				<div class="column-1 col-md-2">
					<div class="food"><img src ="static/img/banana.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Banana Fritters</div>
					<div class="food"><img src ="static/img/cheesecake.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">New York Cheesecake</div>
					<div class="food"><img src ="static/img/fruit.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Fruit Salad</div>
					
				</div>
			</div>
</div>
</div>
{% endblock %}