{% extends "base.html" %}
{% block content %}
<!-- china town drinks, displays website information and links to other pages -->
<div class="container">
<div class="heading">
	<p>
		Drinks
	</p>
</div>
<div class="row">
		<div class="col-md-12">
			<div class="column-1 col-md-2">
			<form action="/drinks" method="POST">
	<h2 style="text-align:center">Choose Drink Type</h2>
		<input type="checkbox" name="Soft" value="1">Soft Drink<br>
		<input type="checkbox" name="Spirit" value="1">Spirit<br>
		<input type="checkbox" name="Beer" value="1">Beer<br>
		<input type="checkbox" name="Cider" value="1">Cider<br>
		<input type="checkbox" name="Wine" value="1">Wine<br>
		<input type="checkbox" name="Hot" value="1">Hot Drink<br>
		<center><button type="submit">Submit</button></center>
</form>
			</div>
			<div class="column-2 col-md-8">
				<div style="overflow-x:auto;">
				<div id="table-wrapper">
				<div id="table-scroll">
				<table border="0" cellspacing="0" cellpadding="0" align="center">
					<thead>
					<th><span class="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drink</span></th>
					<th><span class="text"> Drink Type</span></th>
					</thead>
					{% for row in drinkTable %}
					<tr>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
					</tr>
					{% endfor %}
				</table>
				</div>
				</div>
				</div>
				</div>
				<div class="column-1 col-md-2">
					<div class="food"><img src ="static/img/softs.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Soft Drinks</div>
					<div class="food"><img src ="static/img/spirit.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Spirits</div>
					<div class="food"><img src ="static/img/hot.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Hot Drinks</div>
					
				</div>
			</div>
</div>
</div>
{% endblock %}