<!-- content that appears on every page, to be imported into all pages -->
<html lang="en">
<head>
  <title>China Town</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
	<form action="" method="get">
	<h1>Choose Main Ingredient</h1>
		<input type="checkbox" name="Main Ingredient" value="Chicken"> Chicken<br>
		<input type="checkbox" name="Main Ingredient" value="Beef"> Beef<br>
		<input type="checkbox" name="Main Ingredient" value="Seafood">Seafood<br>
		<input type="checkbox" name="Main Ingredient" value="Vegetarian">Vegetarian<br>
	<h1>Choose Meal Option</h1>	
		<input type="checkbox" name="Meal Option" value="Starters"> Starter<br>
		<input type="checkbox" name="Meal Option" value="Mains"> Main<br>
		<input type="checkbox" name="Meal Option" value="Desserts"> Dessert<br>
		<input type="checkbox" name="Meal Option" value="Sides"> Sides<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
