{% extends "base.html" %}
{% block content %}
<!-- china town home page, displays website information and links to other pages -->
<div class="container">
<div class="heading">
	<p>
		Welcome to China Town
	</p>
</div>
<div class="row">
		<div class="col-md-12">
			<div class="column-1 col-md-2" style="text-align:center">
				<h2 style="text-align:center">Opening Times</h2>
				<strong><p> Mon to Sun:</p></strong>
						<p>	4pm-11pm<br></p>
			</div>
			<div class="column-2 col-md-8">
				<div class="home">
					<center><img src="static/img/restaurant.jpg" class="img-responsive"/></center>
				</div>
				<p>
					We are a family run business and are based in the heart of Edinburgh.
					We hope to provide you and your family/friends with a relaxing enviroment 
					and tasty meal of which we have many to choose from.
					We are able to cater to groups and we look forward to welcoming you to our restuarant.
					<br>
					Kind Regards,<br> 
					<strong>China Town Family</strong>
				</p>
			</div>
		
				<div class="column-1 col-md-2">
					<div class="food"><img src ="static/img/birthday.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Celebrate a birthday</div>
					<div class="food"><img src ="static/img/romance.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Have a romantic meal!</div>
					<div class="food"><img src ="static/img/friends.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Meet up with Friends!</div>
				</div>
		</div>
</div>
</div>

{% endblock %}

