{% extends "base.html" %}
{% block content %}
<!-- china town mains, displays website information and links to other pages -->
<div class="container">
<div class="heading">
	<p>
		Mains
	</p>
</div>
<div class="row">
		<div class="col-md-12">
			<div class="column-1 col-md-2">
			<form action="/mains" method="POST">
	<h2 style="text-align:center">Choose Main Ingredient</h2>
		<input type="checkbox" name="Chicken" value="1">Chicken<br>
		<input type="checkbox" name="Beef" value="1"> Beef<br>
		<input type="checkbox" name="Seafood" value="1">Seafood<br>
		<input type="checkbox" name="Vegetarian" value="1">Vegetarian<br>
	<h2 style="text-align:center">Choose Meal Type</h2>	
		<input type="checkbox" name="Rice" value="1">Rice<br>
		<input type="checkbox" name="Chow" value="1">Chow Mein<br>
		<input type="checkbox" name="Soup" value="1">Soup<br>
		<input type="checkbox" name="Sweet" value="1">Sweet & Sour<br>
		<input type="checkbox" name="Curry" value="1">Curry<br>
		<input type="checkbox" name="Salt" value="1">Salt & Spicy<br>
		<input type="checkbox" name="Stir" value="1">Stir Fry<br>
		<input type="checkbox" name="Euro" value="1">European<br>
		<center><button type="submit">Submit</button></center>
</form>
			</div>
			<div class="column-2 col-md-8">
				<div style="overflow-x:auto;">
				<div id="table-wrapper">
				<div id="table-scroll">
				<table border="0" cellspacing="0" cellpadding="0" align="center">
					<thead>
					<th><span class="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food Item</span></th>
					<th><span class="text"> Main Ingredient</span></th>
					<th><span class="text"> &nbsp;&nbsp;&nbsp;Dish Type</span></th>
					</thead>
					{% for row in mainTable %}
					<tr>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
						<td>{{ row[3] }}</td>
					</tr>
					{% endfor %}
				</table>
				</div>
				</div>
				</div>
				</div>
				<div class="column-1 col-md-2">
					<div class="food"><img src ="static/img/chow.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Veg Chow Mein</div>
					<div class="food"><img src ="static/img/curry.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Beef Curry</div>
					<div class="food"><img src ="static/img/prawn.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">King Prawns</div>
					
				</div>
			</div>
</div>
</div>
{% endblock %}