<!-- content that appears on every page, to be imported into all pages -->
<html lang="en">
<head>
  <title>China Town</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
  <!--background -->
  <style>
	body
		{			
			padding-top:150px;
			background-image: url({{ url_for('static', filename='img/background.jpg') }})
					
		}
	

  </style>

<body>
<!-- contains links to all main pages  -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">China Town</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/starters">Starters</a></li>
      <li><a href="/mains">Mains</a></li>
      <li><a href="/desserts">Desserts</a></li>
      <li><a href="#">Drinks</a></li>
      <li><a href="#">Book a Table</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>

<div class="banner">
	<div class="row" style="text-align:center">
		<div class="col-xs-12">
			<img src ='static/img/banner.jpg'/>
		</div>
	</div>
</div>


{% block content %}


{% endblock %}}

<!-- page footer -->
<div class="footer">
<div class="container">
	<div class="row" style="text-align:center">
		<div class="col-xs-12">
        		<p> Emma Gray Web Design|China Town </p>
     		 </div>
	</div>
</div>
</div>
</body>
</html>
