{% extends "base.html" %}
{% block content %}
<!-- china town booking page, displays website information and links to other pages -->
<div class="container">
<div class="heading" style="margin-left:37.5%">
	<p>
		Book a Table 
	</p>
</div>
<div class="row">
	<div class="col-md-12">
			
			<div class="booking-form">
				<p style='color:red'>Booking reference not recognised</p>
				<form action="/booking" method ="POST">
				<p>Choose Your Date</p>
				<input type="text" name="Date" id="Date" alt="date" class="IP_calendar" title="Y/m/d" placeholder="YYYY/MM/DD">
				<p>Arrival Time</p>			
					<select name="Time">
						<option value="1">16:00</option>
						<option value="2">16:30</option>
						<option value="3">17:00</option>
						<option value="4">17:30</option>
						<option value="5">18:00</option>
						<option value="6">18:30</option>
						<option value="7">19:00</option>
						<option value="8">19:30</option>
						<option value="9">20:00</option>
						<option value="10">20:30</option>
						<option value="11">21:00</option>
					</select>
					<p> No of Guests:</p>
					<input type="guests" name="guests" placeholder="No of Guests">
					<p> Enter your Name: </p>
					<input type="name" name="name" placeholder="your name">	 
					<p>Enter your email address:</p>
					<input type="email" name="email" placeholder="your email">
					<br><br><input type="submit" name="submit" value="Submit" >
				</form>
				<form action="/booking" method ="POST">
					<p>Insert booking Ref to cancel booking</p>
					<input type="reference" name="reference" placeholder="Booking Ref">
					<br><br><input type="submit" name="submit" value="Submit" >
				</form>
			</div>	
		</div>
	</div>
</div>

{% endblock %}