{% extends "base.html" %}
{% block content %}
<!-- china town starters and sides, displays website information and links to other pages -->
<div class="container">
<div class="heading">
	<p>
		Starters & Sides
	</p>
</div>
<div class="row">
		<div class="col-md-12">
			<div class="column-1 col-md-2">
			<form action="/starters" method="POST">
	<h2 style="text-align:center">Choose Main Ingredient</h2>
		<input type="checkbox" name="Chicken" value="1">Chicken<br>
		<input type="checkbox" name="Beef" value="1"> Beef<br>
		<input type="checkbox" name="Seafood" value="1">Seafood<br>
		<input type="checkbox" name="Vegetarian" value="1">Vegetarian<br>
	<h2 style="text-align:center">Choose Meal Option</h2>	
		<input type="checkbox" name="Starter" value="1"> Starter<br>
		<input type="checkbox" name="Side" value="1"> Sides<br>
		<br>
		<br>
		<br>
		<center><button type="submit">Submit</button></center>
</form>
			</div>
			<div class="column-2 col-md-8">
				<div style="overflow-x:auto;">
				<div id="table-wrapper">
				<div id="table-scroll">
				<table border="0" cellspacing="0" cellpadding="0" align="center">
					<thead>
					<th><span class="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food Item</span></th>
					<th><span class="text"> Main Ingredient</span></th>
					<th><span class="text"> &nbsp;&nbsp;&nbsp;Course</span></th>
					</thead>
					{% for row in starterTable %}
					<tr>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
						<td>{{ row[3] }}</td>
					</tr>
					{% endfor %}
				</table>
				</div>
				</div>
				</div>
				</div>
				<div class="column-1 col-md-2">
					<div class="food"><img src ="static/img/springrolls.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Spring Rolls</div>
					<div class="food"><img src ="static/img/soup.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Chicken Noodle Soup</div>
					<div class="food"><img src ="static/img/satay.jpg" class="img-responsive" style=" border:groove;border-color:red"/></div>
					<div class="food-desc">Chicken Satay</div>
					
				</div>
			</div>
</div>
</div>
{% endblock %}

