/*banner-image*/
.banner 
{
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  	max-width: 100%;
    height: auto;
	z-index:1;
}

/*website-footer*/
.footer 
{
  position:fixed;
  right:0;
  bottom:0;
  left:0;
  padding:0.2%;
  background-color:#222222;
  text-align:center;
  color:#9D9D9D;
  
}
/* column for filtering and filter styling*/
.column-1
{
  background-color:rgba(255,255,255,0.5);
  font-size:20px;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  border:groove;
  border-color:red;	
  text-align:left;
  padding-bottom:5%;
  height:91.5%;
  
    
}
/* column for table styling*/
.column-2
{
  background-color:rgba(255,255,255,0.5);
  font-size:20px;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  border:groove;
  border-color:red;	
  text-align:center;
  padding-left:10%;
  padding-right:10%;
  height:91.5%;
 
}
/*table row styling*/
td
{
  text-align:left;
  padding:5%;
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size:20px;
  border-collapse: collapse;
  width:2%;
}
/*button styling*/
button
{
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
	bottom:8%;
	position:relative;
	
}

button:hover
{
    background-color: #f44336;
    color: white;
}
/*styling for page headings */
.heading
{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:45px;
	font-weight:bold;
	font-style:italic;
}

/*table scrolling*/
#table-wrapper 
{
  position:relative;
}
#table-scroll 
{
  height:92%;
  overflow:auto;  
  margin-top:5%;
  
 }
#table-wrapper table 
{
  width:100%;
    
}
#table-wrapper table * 
{
   color:black;
}
#table-wrapper table thead th .text 
{
  position:absolute;   
  top:-3%;
  z-index:2;
  height:5%;
  width:30%;
  text-align:justified;
  font-size:20px;
}
/*images of food*/
.food
{
	padding-top:4%;
	padding-bottom:4%;
}
/*description of food images */
.food-desc
{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:10px;
	text-align:center;
	font-style:italic;
	font-weight:bold;
	
}
.home
{
	width:700px;
	height:auto;
	padding-top:8%;
	padding-right:32.5%;
}

.booking-form
{
	background-color:rgba(255,255,255,0.5);
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:20px;
	text-align:center;
	padding-bottom:5%;
	width:550px;
	margin-left:25%;
	padding-top:5%;
	border:groove;
	border-color:red;
	font-weight:bold;
		
}
/*graduate colour of banner*/
#grad
{
	z-index:2;
    height:150px;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last)
}

